[Desktop Entry]
Name=DeepinV20-dark
Comment=DeepinV20-dark theme for kde plasma
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=yeyushengfan258
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=yeyushengfan258@outlook.com
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=com.github.yeyushengfan258.DeepinV20-dark
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://github.com/yeyushengfan258/DeepinV20-dark-kde
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1415015,kns://plasma-themes.knsrc/api.kde-look.org/1415020,kns://aurorae.knsrc/api.kde-look.org/1415016,kns://icons.knsrc/api.kde-look.org/1399044,kns://wallpaper.knsrc/api.kde-look.org/1415013,kns://sddmtheme.knsrc/api.kde-look.org/1415017,kns://xcursor.knsrc/api.kde-look.org/1422127
X-Plasma-MainScript=defaults
